<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Pacific Northwest Fog</title>

    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- 引入 echarts.js -->
    <script src="/javascripts/echarts.min.js"></script>

</head>

<body class="noScrollDiv">
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 38rem;height: 20rem" class="divCtent"></div>
<div class="wrapper">
    <div class="arc">
        <div class="arc2">
        </div>
    </div>
</div>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  var option = {

    tooltip : {
      trigger: 'item',
      formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    visualMap: {
      show: false,
      min: 80,
      max: 600,
      inRange: {
        colorLightness: [0, 1]
      }
    },
    series : [
      {
        name:'文章类型',
        type:'pie',
        radius : '55%',
        center: ['50%', '50%'],
        data:[
          {value:335, name:'直接访问'},
          {value:310, name:'邮件营销'},
          {value:274, name:'联盟广告'},
          {value:235, name:'视频广告'},
          {value:400, name:'搜索引擎'}
        ].sort(function (a, b) { return a.value - b.value; }),
        roseType: 'radius',
        label: {
          normal: {
            textStyle: {
              color: 'rgba(255, 255, 255, 0.9)'
            }
          }
        },
        labelLine: {
          normal: {
            lineStyle: {
              color: 'rgba(255, 255, 255, 0.9)'
            },
            smooth: 0.2,
            length: 10,
            length2: 20
          }
        },
        itemStyle: {
          normal: {
            color: '#00B7FF',
            shadowBlur: 200,
            shadowColor: 'rgba(41, 182,246, 0.5)'

          }

        },

        animationType: 'scale',
        animationEasing: 'elasticOut',
        animationDelay: function (idx) {
          return Math.random() * 200;
        }
      }
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>
<section class="fog">
    <figure class="absolute-bg" style="background-image: url('/images/photo.jpg');"></figure>
    <div class="fog__container">
        <div class="fog__img fog__img--first"></div>
        <div class="fog__img fog__img--second"></div>
    </div>
</section>
</body>
</html>